HTTP_PORT=8081
DB_USER=user
DB_PASSWORD=password
REPO_URL=https://github.com/ianbunag/cmpe-272-enterprise-software-platforms
IMAGE_HOST=https://cdn.yourdomain.com
APP_SECRET=app_secret
PARTNER_URLS=http://host.docker.internal:8081/banana-buoy/api/users,http://host.docker.internal:8081/banana-buoy/api/users?alternate
